/* Entire */

#main{
  margin: 20px 0 20px 0;
}

/* Dev Info */

.dev-info{
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 14px;
  text-align: right;
  position: relative;
  top: 100px;
  right: 10px;
  color: #344556;
}

#website-link{
  font-weight: 700;
  text-decoration: none;
  color: #344556;
}
